.emoji {
  width: 16px;
  vertical-align: middle;
}

.status-card p p {
  margin: 0
}

.status-card p+p {
  margin-top: 1em;
}

.status-card a {
  color: #1976d2;
  text-decoration: none;
}

.media {
  max-width: 95%;
  max-height: 95%;
}
